<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="stylesheet" href="<?php echo STATICS_PUBLIC_STYLE;?>bootstrap.min.css" />
		<link rel="stylesheet" href="<?php echo STATICS_PUBLIC_STYLE;?>font-awesome.min.css" />
		<link rel="stylesheet" href="<?php echo STATICS_PUBLIC_STYLE;?>ace.min.css" />
		<link rel="stylesheet" href="<?php echo STATICS_PUBLIC_STYLE;?>ace-rtl.min.css" />
		<link rel="stylesheet" href="<?php echo STATICS_PUBLIC_STYLE;?>ace-skins.min.css" />
		<script src="<?php echo STATICS_PUBLIC_JS;?>ace-extra.min.js"></script>
		<title><?php echo $page_title;?> -- 后台管理系统</title>
	</head>

	<body>

		<!-- navbar -->
		<div id="navbar" class="navbar navbar-default">

			<script type="text/javascript">
			try{
				ace.settings.check('navbar','fixed')
			}catch(e){
				//
			}
			</script>

			<div id="navbar-container" class="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							ACE后台管理系统
						</small>
					</a>
				</div>
			</div>
			
		</div>
	</body>
</html>